.installations_manager {
    display: flex;
    flex-direction: column;

    height: 100%;

    gap: 20px;

    .installations_list {
        display: flex;
        flex-direction: column;

        height: 100%;
        padding: 10px;

        gap: 10px;

        background-color: var(--background-color-secondary);
        border-radius: 12px;

        &.empty {
            align-items: center;
            justify-content: center;
        }
    }
}